<h1><%= link_to @projekt_name, projekt_path(@projekt)%> -  Burn-Down-Chart</h1>


<div class = "row">
  <div class="col-md-4">
  	<%= line_chart UserStory.group_by_day(:estimation).count, xtitle: "Iteration Timeline (days)", ytitle: "Sum of Task Estimates (hours)", colors: ["red", "#999"], curve: true, legend: true %>
  	
  </div>  

</div>




<div class = "crud" id = "backLinkChart">
      <p><%= link_to "Zurück", projekt_path(@projekt_id) %></p> 
</div>




	
