<h1>My UserStorys ...</h1>
<button type="button" class="btn btn-default"><%= link_to "Neue UserStory", new_user_story_path %></button>

<% @userstorys.each do |userstory| %>

        <div>
          <h2><%= link_to userstory.title, userstory %></h2>
        </div>

<% end %>