<h1>My UserStorys ...</h1>
<button type="button" class="btn btn-default"><%= link_to "Neue UserStory", new_user_story_path(projekt_id: @projekt_id) %></button>

<% @userstorys.each do |userstory| %>

        <div>
          	<h2><%= link_to userstory.title, user_story_path(userstory, projekt_id: @projekt_id) %></h2>
        </div>

        

<% end %>

<div class = "crud">
			<p><%= link_to "Zurück", projekt_path(@projekt_id) %>
</div>