<h1> neue userStory anlegen </h1>

<%= simple_form_for @userstory, url: user_storys_path(@userstory)  do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit, "Anlegen" %>
<% end %>