<h1> Neue Sprint anlegen </h1>

<%= simple_form_for @sprints, url: sprints_path(projekt_id: @projekt_id)  do |f| %>
  <%= f.input :sprintnumber, label: 'Sprintnummer' %>
  <%= f.button :submit, "Anlegen", label: 'erstellen'  %>
<% end %>

<div class = "crud">
			<p><%= link_to "Zurück", sprint_path(@projekt_id) %>
</div>