<h1>Neues Projekt erstellen </h1>
<div class = "col-md-3">
	<%= simple_form_for @projekt do |f| %>
	  <%= f.input :name, label: "Projektname" %>
	  <%= f.button :submit, "Erstellen" %>
	<% end %>
</div>